@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
dl,
li,
dt,
dd,
blockquote,
pre,
span,
strong,
em,
small,
code,
sub,
sup,
hr {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--color-white);
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
}

p {
  line-height: 130%;
  opacity: var(--opacity-high);
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-underline-offset: 8px;
  }

  &:hover {
    opacity: var(--opacity-high);
  }
}
