@use "@ui/viewports" as viewports;

.global-container {
  position: relative;

  width: 100%;
  height: 100dvh;
  min-height: 720px;
  overflow: hidden;

  @include viewports.mq("laptop") {
    min-height: 950px;
  }

  background-color: var(--color-gray-90);
}
