@use "@ui/viewports" as viewports;

.global-container {
  position: relative;

  width: 100%;
  min-width: var(--breakpoint-tablet);
  height: 100dvh;
  overflow: hidden;

  background-color: var(--color-gray-90);
}
