@use "@ui/viewports" as viewports;

.home-page {
  position: relative;
  width: 100%;
  height: 100%;

  &__profile-background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;

    & img {
      height: 100%;

      filter: drop-shadow(0 0 8px var(--color-gray-50));
    }
  }

  &__greetings {
    position: absolute;
    left: 0;

    width: 100%;
    max-width: 400px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @include viewports.mq("laptop") {
      justify-content: flex-start;
      padding-top: var(--header-padding);
    }

    & h1 {
      padding: 16px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      border-radius: 8px;

      background: color-mix(
        in srgb,
        var(--surface-primary-color) 80%,
        transparent
      );

      & span {
        filter: drop-shadow(0 0 8px var(--color-gray-50));
      }

      & span:nth-child(1) {
        font-size: 16px;
        opacity: var(--opacity-high);
        text-transform: uppercase;
      }

      & span:nth-child(2) {
        font-size: 64px;
      }

      & span:nth-child(3) {
        font-size: 24px;
        opacity: var(--opacity-high);
        text-transform: uppercase;
      }
    }
  }

  &__resume {
    position: absolute;
    right: 0;

    width: 100%;
    max-width: 350px;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 24px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;

    @include viewports.mq("laptop") {
      justify-content: flex-end;
      padding-top: var(--header-padding);
    }

    & hr {
      width: 100%;
      border-top: 1px solid var(--color-white);
      opacity: var(--opacity-low);
    }

    &__section {
      width: 100%;
      padding: 24px 16px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;

      border-radius: 8px;

      background: color-mix(
        in srgb,
        var(--surface-primary-color) 80%,
        transparent
      );

      &:first-child {
        border-top: none;
      }

      & p {
        font-size: 16px;
      }

      & a {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
}
